h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    padding: 20px 0;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.images img {
    margin-bottom: 40px;
    cursor: pointer;
}